*.pth
entrenamiento.sh.err
entrenamiento.sh.out
entrenamiento.sh.old.err
entrenamiento.sh.old.out
evaluacion.sh.err
evaluacion.sh.old.err
evaluacion_all_stages.sh.err
entrenamiento_all_stages.sh.err
entrenamiento_all_stages.sh.out
*.pyc
/models/encoders/__pycache__/
*.jpg


